# GitIgnore for the Pufferfish Electronics repository

# Ignore files without an extension
*
!/**/
!*.*

# Ignore system files
## Mac
.DS_Store
.AppleDouble
.LSOverride
## Windows 
[Tt]humbs.db
[Dd]esktop.ini
*.lnk

# KiCAD [1]
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
_saved_*
*-cache.lib
*-rescue.lib
*-rescue.dcm
fp-info-cache
_autosave-*
#*.rpt
#*.pos
#*.net
#*.csv.tmp
#*.csv
#*.xml
#*.gbr
#*.drl

# Notes
# [1] The original gitignore was take from: https://github.com/github/gitignore/blob/master/KiCad.gitignore
